html {
  height: 100%;
}

body{
    background-color: rgb(33, 34, 46);
    color: rgb(141, 209, 107);
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.wraper{
  width: 90%;
  max-width: 420px;
  margin: auto;

}

#calculadora{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 42px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 30px;
}

#calculadora form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.DolarBox input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;  
}

 #calculadora .DolarBoxlabel label{
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.logo{
    margin-top: 0;
    padding: 0;
}

#monto{
    margin-bottom: 25px;
}

#tasa{
  font-size: 30px;
}

a{
  color: white;
  padding: 10px;
  border: solid lightgreen 6px;
  background-color: gray;
  margin-bottom: 30px;
}

.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

.btn{
  background-image:url('https://play-lh.googleusercontent.com/aIgqpeeia-0KjRvic-vK4WCnJOenVu95IHSFG-37p5zoWYRyMa9SiOGgkf7vrmJ_Zf8');
  background-repeat:no-repeat;
  height:70px;
  width:70px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  background-size: 60px;
  background-position:center;
}



.btn2{
  background-image:url('https://monitordolarvenezuela.com/img/BCV.png');
  background-repeat:no-repeat;
  height:70px;
  width:70px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  background-size: 60px;
  background-position:center;
}
